ul {
    padding: 0;
    margin: 0;
    overflow-x: auto;
    /* 手机屏可触摸 */
    -webkit-overflow-scrolling: touch; 
    /* flex布局 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    /* li 内部垂直排列 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    /* 每个元素不换行 */
    white-space: nowrap;
}
a {
    text-decoration: none;
}
/* 不显示滚动条 (真机, 对模拟器无效) */
::-webkit-scrollbar {
    display: none;
}

.active {
    color: red;
}

.indicator {
    /* background-color: brown; */
    height: 2px;
    /* rem 相对于父节点的大小 */
    width: 2rem; 
    /* margin: 2px 0 0 0; */
    margin-top: 2px;
}

.even {
    font-weight: 900;
}
.odd {
    font-weight: 100;
}